.button {
  display: inline-block;
  border: 0;
  color: #fff;
  padding: 16px 97px;
  background: #fc9b27;
  transition: 0.4s;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  font: inherit;
}
.button:hover,
.button:focus {
    background: #FC7427;
    box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;
}
.button:active {
    box-shadow: none;
    background: #FC7427;
}
