.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 115%;
}
.title--big {
  font-size: 44px;
}
.title--small {
  font-size: 24px;
}
.title--extra-small {
  font-size: 18px;
}
